.alert__marke-as-read:hover {
  background-color: var(--color-secondary-lighter-grey);
  border-radius: 30px;
  padding: 3px 8px;
}

.alert__entry {
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-gap: 40px;
}

.alert__gap {
  display: grid;
  grid-gap: 10px;
}

.alert__background {
  background-color: var(--color-secondary-dark-grey);
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 40px;
}

.alert__padding {
  padding-top: 20px;
  padding-bottom: 20px;
}

.alert__text {
  display: grid;
  padding-left: 15px;
}

.text--separater {
  font-size: 13px;
  color: var(--color-secondary-lighter-grey);
}
