.footer {
  background-color: var(--color-pure-black);
  border-top: 2px solid var(--color-secondary-dark-grey);
  position: sticky;
  bottom: 0;
}

.footer__post-view {
  display: felx;
  align-items: center;
  justify-content: center;
  position: relative;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navigation__icon--grey {
  color: var(--color-secondary-lighter-grey);
}

.fa:hover {
  color: white;
}

.navigation__icon--plus {
  background: var(--color-primary-gradient);
  padding: 1rem;
  border-radius: 50%;
}

.navigation__list {
  list-style: none;
}
