.post {
  border-bottom: 1px solid var(--color-secondary-dark-grey);
  border-top: 1px solid var(--color-secondary-dark-grey);
  padding: 1rem 1.5rem;
  display: grid;
  width: 100%;
  grid-template-rows: 34px auto 20px;
  grid-template-columns: auto 20px;
  gap: 1.5rem;
}

.post__avatar {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
}

.post__profile-image {
  display: inline-block;
  width: 2rem;
  height: auto;
  border-radius: 50%;
  margin-right: 1.5rem;
}

.post__heading {
  font-size: 0.8rem;
  font-weight: 700;
}

.post__timespan {
  font-size: 0.75rem;
  color: var(--color-secondary-lighter-grey);
}

.post--no-topline {
  border-top: none;
}

.post__text {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  line-height: 24px;
  font-weight: 200;
}

.post__image {
  display: inline-block;
  width: 100%;
  height: auto;
  border-radius: 16px;
  grid-column: 1 / 3;
}

.post__slider {
  overflow: auto;
  white-space: nowrap;
  display: block;
  grid-column: 1 / 3;
}

.post__icons {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  font-size: 0.75rem;
}

.post__icon--thumb::before {
  font-family: 'FontAwesome', sans-serif;
  font-weight: 900;
  content: '\f164';
  margin-right: 0.5rem;
}

.post__icon--bubble::before {
  font-family: 'FontAwesome', sans-serif;
  font-weight: 900;
  content: '\f086';
  margin-right: 0.5rem;
}

.post__icon--share::before {
  font-family: 'FontAwesome', sans-serif;
  font-weight: 900;
  content: '\f064';
  margin-right: 0.5rem;
}

.post__burger-menu::before {
  font-family: 'FontAwesome', sans-serif;
  font-weight: 900;
  content: '\f142';
  margin-right: 0.5rem;
  color: var(--color-secondary-lighter-grey);
}

.post__bookmark {
  margin-right: 0.5rem;
  grid-row: 3 / 4;
}
