.profile {
  width: 100%;
  text-align: center;
}

.profile__card-img {
  display: block;
  max-height: 180px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  border: double 4px transparent;
  border-radius: 50%;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, #f62e8e, #ac1af0);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.profile__card {
  position: relative;
  top: -90px;
  width: 100%;
}

.profile__card-name {
  display: block;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.profile__card-city {
  display: block;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--color-secondary-lighter-grey);
  margin-bottom: 10px;
}

.profile__card-slogan {
  display: block;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--color-primary-social-white);
  margin-bottom: 10px;
}

.profile__card-social-infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  margin-top: -70px;
}

.profile__card-list {
  padding: 0;
  list-style: none;
}

.profile__card-list-item {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--color-secondary-lighter-grey);
}

.profile__edit-profile-button {
  padding: 10px 30px;
  border: 1px solid;
  border-radius: 30px;
  border-color: var(--color-secondary-lighter-grey);
}

.profile__edit-profile-button:hover {
  background-color: var(--color-primary-social-pink);
}

.profile__filter-posts {
  display: flex;
  margin-bottom: 11px !important;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 500;
}

/* Following classes are used on similar generalprofile.html */

.profile__card-name--general-profile {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 50px;
}

.profile__follow-button {
  padding: 10px 30px;
  border: 1px solid;
  border-radius: 30px;
  border-color: var(--color-primary-social-pink);
  background-color: var(--color-primary-social-pink);
}

.profile__follow-button:hover {
  background-color: transparent;
}
