.search__input {
  background-color: #323436;
  border-radius: 30px;
  padding: 12px 16px;
  outline: none;
  color: white;
  border: none;
  font-weight: 100;
  font-size: small;
  margin-left: 15px;
}

.search__button {
  background-color: #323436;
  border: none;
  padding: 10px;
  transform: translateX(-42px);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.search__button:hover {
  background-color: #3e4750;
}

.search__taglist {
  list-style: none;
  display: flex;
  overflow: hidden;
  /*overflow: auto; blendet scrollbalken ein*/
  white-space: nowrap;
}
.search__tag {
  display: inline-block;
  flex-direction: row;
  color: white;
  padding: 5px 10px;
  font-size: small;
  border-style: solid;
  border-width: 1px;
  border-radius: 30px;
  margin-top: 20px;
  margin-right: 10px;
  gap: 10px;
  margin-bottom: 40px;
}

.search__tag:first-child {
  margin-left: 20px;
}

.search__tag--color-primary-social-blue {
  background-color: #2e8af6;
  border: none;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}
