*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--color-primary-white);
  background-color: var(--color-background);
  margin: 0;

  /* padding: 0 24px; */
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  height: 100vh;
  display: grid;
  grid-template-rows: 100px auto 90px;
  font-family: 'Montserrat', sans-serif;
}

.grid--profile {
  grid-template-rows: 180px auto 90px;
}

/* Remove default padding and list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

/* Remove default margin */
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
