.text--light-grey {
  color: var(--color-secondary-dark-grey);
}

.text--dark-grey {
  color: var(--color-secondary-lighter-grey);
}

.text--pink {
  color: var(--color-primary-social-pink);
}

.text--blue {
  color: var(--color-primary-social-blue);
}

.text--white {
  color: var(--color-primary-white);
}

.text--underline {
  text-decoration: underline;
  text-decoration-color: var(--color-primary-social-blue);
  text-underline-offset: 10px;
  text-decoration-thickness: 3px;
}

.text--uppercase {
  text-transform: uppercase;
}

.mr-1rem {
  margin-right: 1rem;
}

.px-1rem {
  padding: 0 1rem;
}

.px-1-5rem {
  padding: 0 1.5rem;
}

.align-self-center {
  align-self: center;
}

.fw-500 {
  font-weight: 500;
}

.fw-100 {
  font-weight: 100;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.p-0 {
  padding: 0;
}

.grayfilter {
  filter: grayscale(50%);
  color: var(--color-secondary-lighter-grey);
}

.center-xy-grid {
  justify-self: center;
  align-self: center;
}
